doctype 5
html(lang="en")
    head
        include components/header
        script(type="text/javascript", src="/tagmanager/bootstrap-tagmanager.js");
        link(rel="stylesheet", href="/tagmanager/bootstrap-tagmanager.css");
    body
        .container
            include components/navbar

            legend Experiments
            ul.breadcrumb
                li
                    a(href="/experiments") Experiments
                if chosenExperiment
                    li
                        span.divider /
                        a(href="/experiments/"+chosenExperiment.experimentId+"/edit") #{chosenExperiment.experimentName}
                if newExperiment
                    li
                        span.divider /
                        a(href="#") new experiment

            if newExperiment || chosenExperiment
                include components/editExperiment
            else
                include components/editExperiments

a.btn.btn-primary(href="/experiments/newExperimentPage") Add New Experiment